<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />

    <meta name="description" content="Mood Food. Zamów pyszne jedzenie z dostawą pod sam dom.">
    <meta name="keywords" content="Mood Food, produkty, informacje, pizza, burgery, jedzenie">
    <meta name="author" content="Marcin">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header>
        <nav class="navbar bg-danger navbar-dark navbar-expand-md ">
            <a class="navbar-brand" href="@Url.Action("Index","Home",null)"><i class="fas fa-hamburger"></i> Mood Food</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Przycisk nawigacyjny">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="mainmenu">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        @Html.ActionLink("Strona główna", "Index", "Home", null, new { @class = "nav-link" })
                    </li>
                    <li>
                        <a class="nav-link">Menu</a>
                    </li>
                    <li>
                        @Html.ActionLink("Restauracja", "StaticSite", "Info", new { name = "Restauracja" }, new { @class = "nav-link" })
                    </li>
                    <li>
                        @Html.ActionLink("Kontakt", "StaticSite", "Info", new { name = "Kontakt" }, new { @class = "nav-link" })
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li>
                        <a class="nav-link" href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
                    </li>
                    <li>
                        <a class="nav-link" href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a class="nav-link" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
        <img src="@Url.Content("~/Content/Images/banner.jpeg")" class="img-fluid " alt="Baner strony" />
    </header>
    <main>
        @RenderBody()
    </main>
    <footer class="footer-copyright text-center bg-danger text-light p-4">
        @DateTime.Now.Year - &copy; MoodFood <a class="text-light" href="mailto:digitalonions100@gmail.com">MoodFood@gamil.com</a>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>