<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />

    <meta name="description" content="Mood Food. Zamów pyszne jedzenie z dostawą pod sam dom.">
    <meta name="keywords" content="Mood Food, produkty, informacje, pizza, burgery, jedzenie">
    <meta name="author" content="Marcin">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header>
        <nav class="navbar bg-danger navbar-dark navbar-expand-sm">
            <a class="navbar-brand" href="#"><i class="fas fa-hamburger"></i> Mood Food</a>

           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Przycisk nawigacyjny">
               <span class="navbar-toggler-icon"></span>
           </button>

           <div class="collapse navbar-collapse" id="mainmenu">
               <ul class="navbar-nav">
                   <li class="nav-item">
                       <a class="nav-link" href="#">Strona główna</a>
                   </li>
                   <li>
                       <a class="nav-link">Menu</a>
                   </li>
                   <li>
                       <a class="nav-link">O nas</a>
                   </li>
               </ul>
           </div>
        </nav>
    </header>
    <div >
        @RenderBody()
        <footer>
            <div class="footer-copyright text-center bg-danger text-light p-4">
                @DateTime.Now.Year - &copy; MoodFood.com
            </div>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>