@model IEnumerable<Mood_Food.Models.Product>

@{
    ViewBag.Title = "Wszystkie produkty";
}

<h2 class="text-center display-4">Wszystkie produkty</h2>

<p class="text-center">
    @Html.ActionLink("Stwórz nowy", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table table-striped table-bordered table-responsive-sm">
    <thead>
        <tr>
            <th >
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.ActionLink("Edytuj", "ProductEdit", new { id = item.ProductId }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Usuń", "Delete", new { id = item.ProductId }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
